/* Importando CSS de Tabelas */
@import url("tabelas.css");

html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: "Limelight", cursive;
}

p {
  font-weight: normal;
  font-size: 1.6rem;
}

ul {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

li {
  letter-spacing: 0.01rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 10rem;
}

h3 {
  /* declaração resumida / completa */
  font: italic bold 1.2rem/2 sans-serif;
  font-size: 2rem;
  padding: -10rem;
}

body {
  background: url("../images/body-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  background-image: url("../images/header-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Pseudo-classes */

header p {
  color: #fff;
  font-size: 1.5rem;
}

header h2 {
  font-weight: 100;
  color: rgb(252, 243, 243);
}

header > h2 {
  font-weight: 600;
  color: rgb(255, 250, 250);
  text-align: top;
  border: 2rem;
}

h2 + p {
  background: rgb(0, 255, 255);
  color: #333;
  padding: 0.5%;
}

h2 ~ h5 {
  font-size: 1.2rem;
}

div ~ p {
  text-transform: uppercase;
}

section {
  border: 5px solid #f1f1f1;
  margin: 1px;
}

article {
  border: 2px groove #194d4a;
  margin: 1px;
  padding: 1.8rem;
  width: 65%;
  height: 10%;
}

.navegacao li a {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navegacao li a:hover {
  background-color: rgba(243, 158, 0, 0.473);
  color: #ebee28;
  border-radius: 30%;
}

nav {
  background-image: url("../images/back-nav.png");
  background-repeat: no-repeat;
  padding: 1.6rem;
  height: 1.6%;
  margin: 1px;
  border: 5px groove #93976e;
}

nav h3 {
  color: rgb(250, 250, 250);
  font-weight: bold;
  border: 1px solid #ebee28;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  color: #e7e8ee;
  text-decoration: none; /* o padrão é underline */
  display: block;
  font-size: 1.6rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

a:visited {
  color: rgb(255, 125, 4);
}

a:active {
  color: rgb(134, 160, 151);
}

a:hover {
  color: rgb(247, 242, 1);
  background: rgba(2, 247, 255, 0.603);
}

h2:hover {
  color: rgb(13, 215, 230);
  background-color: #d0e41d4b;
}

footer {
  background-color: rgba(455, 215, 235, 0.5);
  border: 5px outset #006eff7a;
  color: #f1f1f1;
  font-weight: bold;
  padding: 0.5rem;
  height: 5rem;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}
